url = "/contact"
layout = "default"
title = "Contact"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

[jumbotron]
jumbotron = "contact"
background = "#ffffff"
templates = "template2"
description_limit = 0
==
<?php
use Pensoft\Cardprofiles\Models\Profiles;

function onStart(){
	$this['profiles'] =  Profiles::where('category_id', 1)->get();
}
?>
==
{% component 'siteSearchInclude' %}
<h1 class="underline">Contact</h1>

<main id="main-content" role="main">
    <div class="container">
        <div class="row">
            {% for profile in profiles %}
            <article class="col-xs-12 col-md-6 profile-item">
                <div class="contact_info row">
                    <div class="col-md-3 col-xs-12 coordinator_image">
                        <img src="{{profile.avatar.path}}" alt="{{profile.names}}" class="fr-fic fr-dii">
                    </div>
                    <div class="col-md-9 col-xs-12 coordinator_info">
                        <h2>{{profile.names}}</h2>
                        {% if profile.position %}
                        <p class="card_title">
                            {% if profile.partner.instituion %}{{profile.partner.instituion}}, {% endif %}{{profile.position}}
                        </p>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 email_container">
                        {% if profile.email %}
                        <div class="contact_mail">
                            <a href="mailto:{{profile.email}}" aria-label="Email {{profile.names}}">
                                <i class="pr p-mail" aria-hidden="true"></i>
                                <span class="sr-only">Email: </span>{{profile.email}}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>

    </div>
</main>
