url = "/news/:id?|[a-zA-Z\-0-9]"
layout = "default"
title = "News"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[related_articles]
limit = 9
thumb_width = 386
thumb_height = 203
==
<?php
use Pensoft\Articles\Models\Category;
use Pensoft\Articles\Models\Article;

function urlencode($string){
    return trim(urlencode($string));
}
function onStart()
{

$this['article'] = Pensoft\Articles\Models\Article::where('slug', $this->param('id'))->where('published', 'true')->first();

$this['categories'] = Category::orderBy('sort_order')->orderBy('created_at', 'desc')->get();

    $categoryId = input('categoryId', 'all');

    if ($categoryId !== 'all' && !is_numeric($categoryId)) {
        return redirect('news');
    }

    $this['categoryId'] = $categoryId;

    if ($categoryId === 'all') {
        $records = Article::news()->where('published_at', '<=', 'now')
                                  ->where('published', 'true')
                                  ->orderBy('published_at', 'DESC')
                                  ->paginate(15);
    } else {
        $records = Article::news()->whereHas('categories', function ($query) use ($categoryId) {
                     $query->where('id', $categoryId);
                 })->where('published_at', '<=', 'now')
                   ->where('published', 'true')
                   ->orderBy('published_at', 'DESC')
                   ->paginate(15);
    }

    if ($categoryId !== 'all') {
        $records->appends(['categoryId' => $categoryId]);
    }

    $this['records'] = $records;

if($this['article']){

$this['is_detail_page'] = $this['article'] ? true : false;
$this['allow_share'] = $this['article']['allow_share'] == 'yes' ? true : false;
if($this['is_detail_page']){
$seoTitle = $this['article']['title'];
$seoKeywords = $this['article']['meta_keywords'] ?: $this['article']['keywords'];
$seoDescription = str_limit(Html::strip($this['article']['content']), 255);

if (class_exists('\BennoThommo\Meta\Meta')) {
if($seoTitle) {
\BennoThommo\Meta\Meta::set('title', $seoTitle);
}
if($seoKeywords) {
\BennoThommo\Meta\Meta::set('keywords', $seoKeywords);
}
if($seoDescription) {
\BennoThommo\Meta\Meta::set('description', $seoDescription);
}
}
}
if($this['is_detail_page'] and $this['allow_share']){
$this['page_url'] = $this->pageUrl('');
$this['encoded_title'] = urlencode($this['article']['title']);
$this['slug'] = $this['article']['slug'];
\BennoThommo\Meta\Meta::set('twitter:card', 'summary_large_image');
\BennoThommo\Meta\Meta::set('twitter:title', $this['article']['title']);
\BennoThommo\Meta\Meta::set('twitter:description', str_limit(Html::strip($this['article']['content']), 255));
\BennoThommo\Meta\Meta::set('og:title', $this['article']['title']);
\BennoThommo\Meta\Meta::set('og:description', str_limit(Html::strip($this['article']['content']), 255) );
\BennoThommo\Meta\Meta::set('og:type', 'article');
\BennoThommo\Meta\Meta::set('og:url', $this->pageUrl(''));
if($this['article']['cover']){
\BennoThommo\Meta\Meta::set('twitter:image', $this['article']['cover']->getThumb(600, null, ['mode' => 'auto']));

\BennoThommo\Meta\Meta::set('og:image', $this['article']['cover']->getThumb(600, 314, ['mode' => 'crop']));
\BennoThommo\Meta\Meta::set('og:image:width', 600);
\BennoThommo\Meta\Meta::set('og:image:height', 314);
}
}
}

if($this['is_detail_page']){
$related = array();
if($this['article']['slug']){
$article = Article::where('slug', $this['article']['slug'])->first();
$arrayOfTags = explode(",", $article->keywords);

$related = Article::where('slug', '!=', $this['article']['slug']);

$orWhere = '( ';
$c = 1;

foreach($arrayOfTags as $tag){
$orWhere .= ' keywords ILIKE \'%'.trim($tag).'%\' ';
if($c < count($arrayOfTags)){
$orWhere .= ' or ';
}
$c++;
}
$orWhere .= ')';
$related = $related
->whereRaw($orWhere)
->limit(2)
->get();

$this['related'] = $related;
}
}
}
?>
==
<h1 class="underline">News</h1>
<div class="container">

	{% if is_detail_page %}
	<div class="single-news-item">

        <div class="col-xs-12 go-back">
            <a href="/news" class="col-xs-12 back-to-news">< Back to news</a>
        </div>

        <div class="row news-cover">
            <div class="col-md-6 col-xs-12 news-img-container">
                <img src="{{ article.cover.thumb(673, auto, { mode: 'crop' }) }}" />
            </div>
            <div class="col-md-6 col-xs-12 news-title-container">
                <div class="col-xs-12 news-date-container">
                    <div class="news-date">{{article.published_at|date("j M Y")}}</div>
                </div>
                <div class="col-xs-12 news-title"></div>
                <h1>{{article.title}}</h1>
            </div>
        </div>

        <div class="col-xs-12 news-content">
            {{article.content|raw}}
        </div>

        <div class="col-xs col-md start-md start-xs share_container">
            <span class="share_label">Share</span>
            <a href="http://twitter.com/share?text={{article.title}}&url={{page_url}}" target="_blank" class="pr p-twitter small"></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{page_url}}&amp;src=sdkpreparse" target="_blank" class="pr p-facebook small"></a>
            <a href="https://bsky.app/intent/compose?text={{page_url}}" class="pr p-bluesky small" target="_blank"></a>
            <!-- <a href="https://www.youtube.com/sharing/share-offsite/?url={{page_url}}" target="_blank" class="pr p-youtube small"></a> -->
        </div>

	</div>

	{% else %}

    <div class="category-tabs-container">
        {% if categories.count > 0 %}
        <div class="row category-tabs" id="category-tabs">
            <a href="{{ 'news'|page }}" class="{{ 'all' == categoryId ? 'active' : '' }}">All News</a>
            {% for category in categories %}
            <a href="{{ 'news'|page }}?categoryId={{ category.id }}" class="{{ category.id == categoryId ? 'active' : '' }}">{{ category.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="news-list">

    {% for record in records %}
    {% spaceless %}
        <div class="col-md-4 col-xs-12 news-item center-xs center-md">

            <div class="row news_column">
                <div class="news-card">

                    <a href="{{'news'|page}}/{{record.slug}}">
                        {% if record.cover %}
                        <div class="news-image col-xs-12 center-xs">
                            <img class="news-img-top" src="{{record.cover.getThumb(360, 219, {'mode': 'crop'})}}">
                        </div>
                        {% endif %}
                    </a>

                    <div class="card-content">
                        <div class="news-date-container">
                            <div class="news-date">{{article.published_at|date("j M Y")}}</div>
                        </div>
                        <a href="{{'news'|page}}/{{record.slug}}">
                            <h3 class="card-title">{{ record.title|length > 80 ? record.title|striptags|slice(0, 80)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.title|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</h3>
                        </a>
                        <div class="body">{{ record.content|length > 90 ? record.content|striptags|slice(0, 90)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.content|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</div>

                    </div>

                    <div class="read-more-container">
                        <a class="read-more" href="{{'news'|page}}/{{record.slug}}">{{'Read more' |_}}</a>
                    </div>
                </div>
            </div>

        </div>
    {% endspaceless %}
    {% else %}
    No news
    {% endfor %}
    </div>

    <div class="row container">
		{{ records.render|raw }}
	</div>

	{% endif %}
</div>
