url = "/media-center/videos"
layout = "default"
title = "Videos"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderList mediaVideosList]
modelClass = "pensoft\Media\Models\Videos"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[jumbotron]
jumbotron = "under-construction"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Media\Models\Videos;

function onStart(){
	$this['mediaVideosList'] =  Videos::where('pensoft_media_videos.parent_id', null)->get();
}
?>
==

{% set records = mediaVideosList %}

<main id="main-content" role="main">
    <div class="container">
        <nav class="col-xs-12 go-back" aria-label="Breadcrumb">
            <a href="{{'media-center'|page}}" class="col-xs-12 back-to-news">< Back to Media center</a>
        </nav>
        {% if records.count() %}
        <div class="row">
            {% for record in records %}
            <article class="col-md-4 col-xs-12">

                {% if record.youtube_url %}
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        src="{{record.youtube_url}}"
                        width="100%"
                        height="267"
                        title="{{record.name}} on YouTube"
                        loading="lazy"></iframe>
                {% endif %}

                {% if record.vimeo_url %}
                <iframe width="100%"
                        height="267"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        src="{{record.vimeo_url}}"
                        title="{{record.name}} on Vimeo"
                        loading="lazy"></iframe>

                {% endif %}
                <h2 class="card_title">{{ record.name|length > 65 ? record.name|striptags|slice(0, 65)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.name|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</h2>
                {% if record.file %}
                <div class="links">
                    <div class="button_su">
                        <span class="su_button_circle desplode-circle" aria-hidden="true"></span>
                        <a class="button_su_inner matomo_download"
                           href="{{ 'download'|page({ id: record.file.id, name: record.file.file_name|url_encode }) }}"
                           aria-label="Download {{record.name}} video"
                           download="{{record.file.file_name}}">
                        <span class="button_text_container">
                            <i class="pr normal p-download" aria-hidden="true"></i>Download
                        </span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </article>

            {% else %}
            <div class="col-xs-12 text-center" role="status">
                <p>{{ noRecordsMessage }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
